#body {
    background-color: #5286c1;
}

#nav {
    color: #4371a3;
    width: 880px;
    margin-left: 15px;
}

#wetter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top {
    position: relative;
    background-color: #4371a3;
    margin-top: 50px;
    height: 40px;
    width: 880px;
    margin-left: 25px;
}

.orf {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.wetter {
    display: flex;
    align-items: center;
    margin-left: 350px;
}

#glocke {
    position: relative;
    top: 5px;
    left: 845px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    width: 880px;
    margin-left: 25px;
}


.img-area1 {
    display: flex;
    justify-content: space-between;
}

.img-area2 {
    display: flex;
    justify-content: space-between;
}

.img-item {
    margin: 3px;
}

#gb {
    position: absolute;
    left: 370px;
    top: 360px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#trump {
    position: absolute;
    left: 115px;
    top: 375px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#alpen {
    position: absolute;
    left: 680px;
    top: 380px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#religion {
    position: absolute;
    left: 900px;
    top: 290px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#deep {
    position: absolute;
    left: 740px;
    top: 545px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#oe {
    position: absolute;
    left: 885px;
    top: 460px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#science {
    position: absolute;
    left: 112px;
    top: 460px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#frosch {
    position: absolute;
    left: 112px;
    top: 560px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#sport {
    position: absolute;
    left: 685px;
    top: 460px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#greg {
    position: absolute;
    left: 525px;
    top: 530px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}

#EU {
    position: absolute;
    left: 310px;
    top: 505px;
    height: 100px;
    width: 200px;
    z-index: 100;
    color: white;
}


#collapse {
    background-color: white;
    width: 880px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;

}

details {
    text-decoration: none;

}

summary {
    font-size: 15px;
    cursor: pointer;
    list-style: none;
}

summary:hover {
    text-decoration: underline;
}

#footer {
    color: #4371a3;
    width: 880px;
    margin-left: 25px;
    margin-top: 10px;
}